/*General*/
body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    text-align: center;
}

svg {
    display: inline-block;
}

img {
    width: 200px;
    height: 200px;
}

/*Navigation*/
#nav-container{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#overlay {
    background-color: rgb(0, 0, 0, 0.7);
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

#nav {
    display: none;
}

#nav .top-nav{
    text-decoration: none;
    font-size: 30px;
    color: white;
    z-index: 2;
}

#nav ul {
    position: absolute;
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
}

#nav li {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    margin: 0 4em 0 4em;
    z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 60em;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  z-index: 2;
}

.bar {
  height: 6px;
  width: 100%;
  background-color: black;
  display: block;
  z-index: 2;
}

.change #bar1 {
  transform: translateY(6px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change #overlay{
  display: block;
}

.change .bar {
  background-color: grey;
}

.change #nav {
    display: block;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

/*homepage*/
#hero-name {
    margin: 0;
    text-align: center;
}

#hero-pfp{
    align-items: center;
 }