/*General*/
body{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    background-color: gainsboro;
}

h1{
    margin: 0;
    text-align: center;
}

h3 {
    margin: 0;
    padding: 0;
    text-align: center;
}

svg {
    display: inline-block;
}

img {
    width: 500px;
    height: 600px;
}

#profile-picture {
    clip-path: circle();
    width: 60px;
    height: 60px;
}

.img-container {
    padding: 5em 0 0 2.5em;
    width: fit-content;
}

/*Navigation*/
#nav-container{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#overlay {
    background-color: rgb(0, 0, 0, 0.7);
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    pointer-events: none;
}

#nav {
    display: none;
}

#nav .top-nav{
    text-decoration: none;
    font-size: 30px;
    color: white;
    z-index: 3;
}

#nav ul {
    position: absolute;
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 3;
}

#nav li {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    margin: 0 4em 0 4em;
    z-index: 3;
}

#menu-bar {
  width: 45px;
  height: 60em;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  padding: 5em 1em 0 0;
  z-index: 3;
}

.bar {
  height: 6px;
  width: 100%;
  background-color: black;
  display: block;
  z-index: 3;
}

.change #bar1 {
  transform: translateY(6px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change #overlay{
  display: block;
}

.change .bar {
  background-color: grey;
}

.change #nav {
    display: block;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

/*homepage*/
#hero-name {
    margin: 0;
    padding-top: 5px;
    text-align: center;
}

#hero-pfp {
    width: 200px;
    height: 200px;
    clip-path: circle();
}

.hero-image-container { 
    display: flex;
    justify-content: center;
    padding-top: 5em;
 }

 .display-row {
    display: flex;
    justify-content: center;
 }

.table-img {
    padding: 7em 3em;
 }

 /* Portfolio */
.filter {
    outline: none;
    background: none;
    padding: 0 2em 0 2em;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.filter:hover {
  font-weight: bold;
}

.filter.active {
  font-weight: bold;
  color: red;
}

.showcase-container {
    justify-content: center ;
    display: flex;
    flex-wrap: wrap;
}

.filters {
    display: flex;
    justify-content: center;
    padding-top: 5em;
}

/*About Me and Artist Statement*/
.body-text {
    margin: 0;
    padding: 1em 20em 0 20em;
    color: gray;
}

.title {
    display: flex;
    padding: 7em 7em 0 10em;
}

/*Contact*/
#socials {
    display: flex;
    justify-content: center;
}

.social-icon {
    width: 100px;
    height: 100px;
    padding: 10em 5em 0 0 ;
}
.title-contact {
    display: flex;
    width: fit-content;
    padding: 3em 0 0 15em;
}

.body-text-contact {
    margin: 0;
    padding: 1em 0 0 30.2em;
    color: gray;
    width: 250px;
}

.text-container {
    position: fixed;
}

form {
    padding: 2em 50em;
}

label,input {
    display: block;
}

label {
    color: gray;
}

input {
    margin-bottom: 1.5em;
}

.name-email-container {
    display: flex;
}

.subject-input {
    width: 622px;
}

.text-input {
    width: 300px;
}

.message-span {
    padding: 0 1em 0 0;
}

#message {
    width: 622px;
    height: 200px;
}